
 .box{
        width: 330px;
        height: 324px;
        border-radius: 20px;
        padding-top: 54px;
        box-shadow: 10px 30px 20px 0px #72747a66;
        margin-bottom: 37px;
        background-color: #fff; }
